@page
@model bobbylite.realmikefacts.web.Pages.AdministratorsModel

@{
    ViewData["Title"] = "Administrator page";
    Layout = "_Layout";
}

<div class="text-center">
    <h1 class="display-4">Admin Dashboard</h1>

    @if (User.Identity!.IsAuthenticated)
    {
        <div class="nav-link text-light">Hello @User.Identity.Name,</div>
        <div class="nav-link text-light">
            Being an administrator for Real Mike Facts grants super user access.
        </div>

        <br/>
        
        <form method="post">
            <table class="table table-striped table-dark">
                <thead>
                    <tr>
                    <th scope="col">Display Name</th>
                    <th scope="col">Requested Access</th>
                    <th scope="col">User Id</th>
                    <th scope="col">Time of request</th>
                    <th scope="col">Grant Access</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var request in @Model.GetAllRequests().Values)
                    {
                        <tr>
                            <td>@request.DisplayName</td>
                            <td>@request.RequestedResource?.DisplayName</td>
                            <td>@request.UserId</td>
                            <td>@request.Timestamp</td>
                            <td>
                                <span>
                                    <input style="display: none;" asp-for="Data" value="@System.Text.Json.JsonSerializer.Serialize(@request)" />
                                    <button asp-page-handler="Approve" type="submit" class="btn btn-success">Approve</button>
                                </span>
                                <span>
                                    <button asp-page-handler="Deny" type="submit" class="btn btn-danger">Deny</button>
                                </span>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>  
        </form>
    }
</div>