@page
@model bobbylite.realmikefacts.web.Pages.Settings

@{
    ViewData["Title"] = "Settings page";
    Layout = "_Layout";
}

<div>
    <h1 class="display-4">Real Mike Facts Settings</h1>
    
    @if (User.Identity!.IsAuthenticated)
    {
        <h1 class="display-6">Identity Attributes</h1>
        <div class="nav-link text-light">
            Name: @User.Identity.Name
        </div>
        <div class="nav-link text-light">
            Authentication Type: @User.Identity.AuthenticationType
        </div>
        <div class="nav-link text-light">
            IsAuthenticated: @User.Identity.IsAuthenticated
        </div>
        
        <br/>
        
        <h1 class="display-6">Account Attributes</h1>
        
        <div class="nav-item">
            <a class="nav-link text-light" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="EditProfile" style="padding-top: 10px">
                <div style="display: flex; align-items: center;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-person-plus-fill" viewBox="0 0 16 16" style="padding-right: 10px;">
                      <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                      <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
                    </svg>
                    Account Settings
                </div>
            </a>
        </div>

        <br/>

        <h1 class="display-6">Groups</h1>
        <br/>
        <table class="table table-striped table-dark">
            <tbody>
                @if (!@Model.Groups.Any())
                {
                    <div class="nav-link text-light">
                        No other groups are made available to you, @User.Identity.Name.
                    </div>
                    <div class="nav-link text-light">
                        A RealMikeFacts administrator will be reviewing your access requests shortly.
                    </div>
                }
                else 
                {
                    <tr>
                        <th scope="col">Group Id</th>
                        <th scope="col">Description</th>
                        <th scope="col">Requested By</th>
                        <th scope="col">Action</th>
                    </tr>
                }

                @foreach(var group in @Model.Groups)
                {
                    var userId = User.Claims.FirstOrDefault(c => c.Type == "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier")?.Value;
                    var requests = Model.GetPendingAccessRequests();
                    var alreadyPending = requests
                        .Where(r => r.RequestedResource?.Id == group.Id && r.UserId == userId).ToList();
                    
                    @if(alreadyPending.Count > 0)
                    {
                        continue;
                    }

                    <tr>
                        <td>@group.Id</td>
                        <td>@group.Description</td>
                        <td>@User.Identity!.Name</td>
                        <td>
                            <span>
                                <form method="post">
                                    @{
                                        var groupInformation = new Models.Authorization.GroupInformation(){
                                            Id = group.Id,
                                            Description = group.Description,
                                            DisplayName = group.DisplayName
                                        };
                                        <input style="display: none;" asp-for="GroupInformation" value="@System.Text.Json.JsonSerializer.Serialize(groupInformation)" />
                                    }
                                    <button id="requestAccesssButton" type="submit" class="btn btn-success popup-groups-tour">Request Access</button>
                                </form>
                            </span>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>